import type { T{{pascalCase componentsName}} } from './{{pascalCase componentsName}}.types';

export const {{pascalCase componentsName}}: T{{pascalCase componentsName}} = () => {
  return <div></div>;
};
