import type { T{{capitalize componentsName}} } from './{{capitalize componentsName}}.types';

export const {{capitalize componentsName}}: T{{capitalize componentsName}} = () => {
  return <div></div>;
};
