:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  /* color: yellowgreen;
  background-color: black; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;

  color-scheme: light dark;
  color: white;
  font: 1.3rem Inconsolata, monospace;
  text-shadow: 0 0 5px #c8c8c8;
  background-color: #000000;
  background-image: radial-gradient(rgba(0, 150, 0, 0.75), black 120%);
  /* height: 100vh; */
}

body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: repeating-linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.15),
    rgba(0, 0, 0, 0.15) 1px,
    transparent 1px,
    transparent 2px
  );
}

::selection {
  background: #0080ff;
  text-shadow: none;
}

input {
  text-shadow: 0 0 5px #c8c8c8;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.terminalOutput {
  text-align: left;
}
.terminalInput::after {
  content: 'user@buashei.codes:/workspaces/terminal-website$ ';
  width: 15px;
  height: 15px;
  display: block;
}

.terminalOutput .typewriter {
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 1s steps(40, end);
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  width: 100vw;
  word-wrap: break-word;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100vw;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
